body{
    background: linear-gradient(90deg, #AB8574 8.7%, #784E3D 47.5%, #4d3227 89.1%);}

.selection-body{
    padding: 5rem;
}

.bg-brown{
    background-color: #4d3227;
}

.bg-orange{
    background-color: #cd7700;
}

.txt-orange{
    color: #cd7700;
}

.fontLarge{
    font-size: 2rem;
}

.card{
    margin: 1rem;
    padding: 1rem;
}

.col-sm-4{
    border-radius: 1rem;
}

.rounded{
    border-radius: 1rem;
}

.styled-div{
    margin: 5rem;
    display: flex;
    flex-direction: column;
    
}